<html>

  <head>
    <meta charset="utf-8">
    <title>註冊</title>
  	<link rel='stylesheet' type='text/css' href='/css/rename.css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script>
			var request = function(data,method,uri){
				$.ajax({
						type : method,
          	dataType: "json",
          	url: window.location.origin+uri,
					  contentType : 'application/json',
						data : JSON.stringify(data),
						success : function(msg, status, xhr){
							if(msg.statusCode===200){
								return window.location.pathname="/room";
							}else if(msg.message==="This username already exists."){
								$("#errorInputUsername").show();
							}
						},
						error : function(xhr, ajaxOptions, thrownError){ 
							alert(xhr.status); 
            	alert(ajaxOptions);
            	alert(thrownError);
						}
					});
			}
			$(document).ready(function(){
				$("#btmRename").click(function(){
					var data = {
						username : $("#username").val()
					}
					request(data,"put","/auth/rename");
				});
				$("#return").click(function(){
					window.location.pathname="/room";
				});
			});
		</script>
  </head>

  <body>
    <form >
			<div id="nameArea">
				<img id="Img" src="/images/inputbg.png">
				<input type="text" id="username" name="username" class="text" placeholder="請輸入暱稱">
			</div>
			<div>
				<label id="errorInputUsername" hidden="hidden">格式錯誤，或此暱稱已被使用</label>
			</div>
			<div id="btmArea">
				<input type="button" id="btmRename" class="btn" value="修改">
			</div>
		</form>
		<form id="return">
				<input type="button" class="btn" value="返回">
		</form>
  </body>

</html>
