{
  "gameID":"game001",
  "camp":{"Blue":"","Red":""},
  "player":{
    "username":"",
    "rank":"1",
    "exp":"0",
    "blood":"600",
    "status":"alive",
    "round":"0",
    "location":"spa",
    "vision":[]
  },
  "ability":{
    "Q":{"damage":"180","round":"0","probability":"0"},
    "W":{"damage":"100","round":"0","probability":"0"},
    "E":{"damage":"70","round":"0","probability":"0"},
    "R":{"damage":"250","round":"0","probability":"0"}
  },
  "tower":{
    "fNexus":{"blood":"5000","status":"alive"},
    "fTower-top1":{"blood":"1000","status":"alive"},
    "fTower-mid1":{"blood":"1000","status":"alive"},
    "fTower-bot1":{"blood":"1000","status":"alive"},
    "fTower-top2":{"blood":"1000","status":"alive"},
    "fTower-mid2":{"blood":"1000","status":"alive"},
    "fTower-bot2":{"blood":"1000","status":"alive"},
    "fTower-top3":{"blood":"1000","status":"alive"},
    "fTower-mid3":{"blood":"1000","status":"alive"},
    "fTower-bot3":{"blood":"1000","status":"alive"}
    },
    "etower":{
      "eNexus":{"blood":"5000","status":"alive"},
      "eTower-top1":{"blood":"1000","status":"alive"},
      "eTower-mid1":{"blood":"1000","status":"alive"},
      "eTower-bot1":{"blood":"1000","status":"alive"},
      "eTower-top2":{"blood":"1000","status":"alive"},
      "eTower-mid2":{"blood":"1000","status":"alive"},
      "eTower-bot2":{"blood":"1000","status":"alive"},
      "eTower-top3":{"blood":"1000","status":"alive"},
      "eTower-mid3":{"blood":"1000","status":"alive"},
      "eTower-bot3":{"blood":"1000","status":"alive"}
      },
  "wilder":{
    "private":{
      "fFrog":{"blood":"250","status":"dead","round":"4"},
      "fBlueB":{"blood":"250","status":"dead","round":"4"},
      "fWolf":{"blood":"250","status":"dead","round":"4"},
      "fBird":{"blood":"250","status":"dead","round":"4"},
      "fRedB":{"blood":"250","status":"dead","round":"4"},
      "fRock":{"blood":"250","status":"dead","round":"4"}
      },
    "eprivate":{
      "eFrog":{"blood":"250","status":"dead","round":"4"},
      "eBlueB":{"blood":"250","status":"dead","round":"4"},
      "eWolf":{"blood":"250","status":"dead","round":"4"},
      "eBird":{"blood":"250","status":"dead","round":"4"},
      "eRedB":{"blood":"250","status":"dead","round":"4"},
      "eRock":{"blood":"250","status":"dead","round":"4"}
      },
    "public":{
      "fireDragon":{"blood":"800","status":"dead","round":"10"},
      "waterDragon":{"blood":"450","status":"dead","round":"10"},
      "earthDragon":{"blood":"500","status":"dead","round":"10"},
      "Baron":{"blood":"1200","status":"dead","round":"25"}
      }
    },
  "member":{
    "top":{"rank":"1","blood":"600","status":"alive","round":"0"},
    "middle":{"rank":"1","blood":"600","status":"alive","round":"0"},
    "under":{"rank":"1","blood":"600","status":"alive","round":"0"},
    "nexus":{"rank":"1","blood":"1800","status":"alive","round":"0"}
    },
  "soldier":{
    "top":{"amount":"15"},
    "middle":{"amount":"15"},
    "under":{"amount":"15"}
    }
}
